@model PlayNGoTest.Web.Models.PeopleListViewModel
@{
    ViewBag.Title = "List of People";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Here is a list of people.</h1>
        <p>All this data comes from a database somewhere. Cool right?</p>
    </div>
</div>

@if (Model.People != null && Model.People.Any())
{
    foreach (var person in Model.People)
    { 
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-light-blue">
              <h3 class="widget-user-username">@person.Name</h3>
            </div>
            <div class="widget-user-image">
              <img class="img-circle" src="@person.PhotoUrl" alt="User Avatar">
            </div>
            <div class="box-footer">
              <div class="row">
                <div class="col-sm-6 border-right">
                  <div class="description-block">
                    <h5 class="description-header">@person.Address</h5>
                    <span class="description-text">Address</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
                <div class="col-sm-6 border-right">
                  <div class="description-block">
                    <h5 class="description-header">@person.PhoneNumber</h5>
                    <span class="description-text">Phone Number</span>
                  </div>
                  <!-- /.description-block -->
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
          </div>
        </div>
        <div class="col-md-4"></div>
    </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Welp! There's no data to show</h1>
            <p>This solution should come with some data inside of it. Maybe something went wrong somewhere.</p>
        </div>
    </div>
}