@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12 text-center">
        <h1>Hey! Hi! This is my coding exam</h1>
        <p>
            Navigate using the navigation links on the left.
        </p>
    </div>
</div>